<table style="width: 100%;">
  <tr>
    <th>Referencia</th>
    <th>Fecha Arribo</th>
    <th>Origen</th>
    <th>Destino</th>
    <th>Status</th>
    <th>Cantidad Containers</th>
    <th>Mercancia</th>
  </tr>
  <tr>
    <td>{{data.referencia}}</td>
    <td>{{data.fechaArribo | date}}</td>
    <td>{{data.origen}}</td>
    <td>{{data.destino}}</td>
    <td>{{data.status}}</td>
    <td>{{data.cantidadContainers}}</td>
    <td>{{data.mercancia}}</td>
  </tr>
</table>
<table>
  <tr *ngFor="let archivo of archivos">
    <td><img [src]="archivo.path" alt="Place image title" style="width: 75px; height: 75px;">{{archivo.name}}</td>
    <td><a [href]="archivo.path" target="blank">Descargar</a></td>
  </tr>
</table>
