<mat-toolbar color="primary">
  <span>Aplogistics | Document Manager </span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/dashboard/usuarios"  *ngIf="isAdmin">Usuarios</button>
  <button mat-button routerLink="/dashboard/embarques"  *ngIf="isAdmin">Embarques</button>
  <span class="example-spacer"></span>
  <button mat-icon-button  (click)="logout()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
