<div class="container">
  <mat-toolbar>
    <span>DashBoard</span>
  </mat-toolbar>
  <div class="body">
    <div class="login">
      <div *ngIf="!isAdmin">
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. ium"
            #input
          />
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            style="margin-top: 20px"
          >
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="id">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 5%"
                mat-sort-header
              ></th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status" style="width: 20%">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                {{ element.status }}
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="referencia">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 20%"
                mat-sort-header
              >
                referencia
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fechaArribo">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 20%"
                mat-sort-header
              >
                Fecha Arribo
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.fechaArribo | date }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="origen" style="width: 20%">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Origen</th>
              <td mat-cell *matCellDef="let element">{{ element.origen }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="destino" style="width: 20%">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Destino</th>
              <td mat-cell *matCellDef="let element">{{ element.destino }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="acciones" style="width: 1 5%">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                style="text-align: right"
              >
                <button
                  mat-raised-button
                  color="primary"
                  class="push-right"
                  [routerLink]="['/dashboard/receiptdetail/', element.id]"
                >
                  Detalles
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>

      <div *ngIf="isAdmin"><img src="./assets/img/logo_aplogistics.png" alt=""></div>
    </div>
  </div>
</div>
